*{
    margin: 0;
    padding: 0;
    /* font-size: 100px; */
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
h1{
    text-align: center;
    margin-top: 1em;
    text-transform: capitalize;
}
.booklist{
    display: grid;
    width: 90%;
    max-width:1760px;
    margin: 2em auto;
    /* background-color: rgb(195, 218, 226); */
    gap: 1em;
    /* border-radius: 1em; */
    /* padding: 1em; */
}
.book{
    background-color: #fff;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
    position: relative;
}
.number{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    padding: .7em;
    border-top-left-radius:1em ;
    border-bottom-right-radius:1em ;
    background: red;
    color: white;
}
.book img{
    width: 100%;
    object-fit: cover;
}
.book h2{
    font-size: 1rem;
    margin-top: 1em;
}
.book h4{
    color: red;
    font-size: .75rem;
    margin-top: .5em;
}
/* .book p{
    margin: 1em 0 .5em;
} */

.typical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    padding: .5em 1em;
    border: none;
    font-size: 1rem;
}

@media(max-width:820px){ 
    .booklist{
        grid-template-columns:repeat(1, 1fr);
        place-items: center;
    }
    .book{
        width: 90%;

    }
    h2{
        font-size: 1rem;
        margin-bottom: .5em;
    }
} 
@media(max-width:500px){
.booklist{
    place-items: center;

}
.book{
    width:60% ;
    
}

}
@media(max-width:360px){
    h1{
        font-size: 1.1rem;
    }
    .book{
        width: 90%; 
    }
}
@media(min-width:567px){
    h1{
        font-size: 2rem;
    }
    .booklist{
        grid-template-columns:repeat(2, 1fr);
        /* align-items: start; */
    }
}
@media(min-width:820px){
    .booklist{
        grid-template-columns:repeat(4, 1fr);
    }
}

